* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'TT-Supermolot-Neue-Trial';
    src: url('../tt-supermolot-neue-font-family-1733306246-0/TT-Supermolot-Neue-Trial-Regular-BF65fcfb4f8c934.ttf');
}

@font-face {
    font-family: 'TT-Supermolot-Neue-Trial-Bold';
    src: url('../tt-supermolot-neue-font-family-1733306246-0/TT-Supermolot-Neue-Trial-Bold-BF65fcfb49ac589.ttf');
}

body {
    font-family: 'TT-Supermolot-Neue-Trial', sans-serif;
}

header {
    height: 87px;
    padding: 25px 25px 15px 25px;
    background-color: #85d4f4;
    display: flex;
    justify-content: space-between;
}

.fotodeperfil-img {
    width: 567px;
    height: 400px;
    top: 157px;
    left: 757px;
    object-fit: cover;
    margin-left: 50%; /* Move a imagem ainda mais para o lado esquerdo */
    margin-right: 10%;  /* Gar /* Centraliza a imagem horizontalmente */
}

.profile {
    display: flex;
    justify-content: space-between; /* Espaço entre os elementos */
    align-items: flex-start; /* Alinha os itens ao topo */
    margin-top: 20px; /* Espaço acima da seção de perfil */
}

.profile-container {
    display: flex;
    flex-direction: column; /* Mantém o texto em coluna */
    gap: 1rem; /* Espaçamento entre os elementos */
    margin-right: -450px; /* Espaço à direita da imagem */
}

.github-logo {
    width: 60px;
    height: auto;
}

.linkedin-logo {
    width: 50px;
    height: auto;
}

nav#navegacao {
    display: flex;
    align-items: center;
}

ul#links-navegacao {
    margin-left: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 100px;
}

ul#links-navegacao li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
}

ul#links-navegacao li a:hover {
    transform: scale(1.1); 
}

#links-navegacao li a {
    text-decoration: none;
    color: #414ABA;
    font-family: 'TT-Supermolot-Neue-Trial-Bold', sans-serif;
    font-size: 18px;
    transition: transform 0.3s ease; 
}

#redes-sociais li {
    display: flex;
    align-items: center; 
    justify-content: center; 
}

nav#redes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

ul#redes-sociais {
    display: flex;
    gap: 20px;
    list-style: none;
}

.social-item img {
    width: 50px;   
    height: 50px;  
    transition: transform 0.3s ease;
}

.social-item img:hover {
    transform: scale(1.1);  
}

ul#redes-sociais li {
    width: 48px;
    height: 48px;
}

main {
    padding: 4rem;
}

section.profile {
    display: flex;
    gap: 3rem;
    justify-content: flex-start; /* Mantém os itens alinhados à esquerda */
}
.profile-container{
    margin-left: 20px;
    display: flex;
}


.profile-container h1 {
    font-size: 26px; 
    margin-right: 0;
    margin-top: 0;
    margin-left: 20px;
}

.profile-container span {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 60px;
    white-space: nowrap;
    color: #000000; 
}

.profile-container p {
    font-size: 24px; 
    line-height: 1.5; 
    margin-left: 20px;
}
@font-face {
    font-family: 'TT-Supermolot-Neue-Trial';
    src: url('assets/Fonte/TT-Supermolot-Neue-Trial-Regular-BF65fcfb4f8c934.ttf');
}

.about-card {
    padding: 30px;
    max-width: 500px;
    margin: 20px;
    font-size: 20px;
    text-align: left;
    margin-top: -100px;
}

.about-card p {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 18px;
    color: #000000;
    text-align: justify;
}

.skills {
    width: fit-content; /* Ajusta a largura para caber no conteúdo */
    margin-top: -200px; /*lls Espaçamento entre a imagem e as ski */
    display: flex;
    flex-direction: column; /* Empilha as habilidades */
    align-items: center; /* Centraliza o texto em relação ao container */
    margin-left: 62%; /* Move o container para o lado desejado */
    text-align: left;
    min-height: 200px; /* Garante a mesma altura para os dois contêineres */
    width: 16%;
    gap: 30px; /* Aumenta o espaço entre as colunas */ / /* /* Espaço acima da seção de habilidades */
}

.skills h2 {
    font-family: 'TT-Supermolot-Neue-Trial-Bold', sans-serif; 
    font-size: 39px;
    margin-left: -40px;
    letter-spacing: 2px;
    margin-top: 20px; 

}

.skill-image-group {
    display: flex;
    flex-wrap: wrap; /* Permite que as imagens "quebrem linha" */
    gap: 20px; /* Espaçamento entre as imagens */
}

.ul-skills-backend {
    flex: 1; 
    margin-right: 40px;/* Isso vai garantir que a lista de habilidades ocupe todo o espaço disponível à esquerda */
  }



.backEnd-container, .frontEnd-container {
    display: flex;
    justify-content: flex-start; /* Alinha os itens à esquerda */
    width: 100%; /* Garante que ambos tenham a mesma largura */
    align-items: center; /* Alinha verticalmente os itens */
    gap: 20px; /* Espaçamento entre os itens */
    font-size: 23px;
    padding-left: 10%; /* Move o conteúdo para combinar com a posição da imagem e skills */
    box-sizing: border-box; 
    
}
.backEnd-container {
    margin-left: -7px;
}


.buttons {
    display: flex;
    justify-content: center;
    margin: 10px 0 24px 0;
}

.buttons button {
    margin: 0 5px;
    padding: 12px 16px;
    background-color: #414ABA;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'TT-Supermolot-Neue-Trial-Bold', sans-serif;
    font-size: 18px;
    width: 100%;
}

footer {
    background-color: #85d4f4;
    color: white;
    padding: 20px 0;
    font-family: 'Roboto Flex', sans-serif;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p {
    font-size: 16px;
    margin-bottom: 10px;
}

footer .name {
    font-weight: bold;
    font-size: 18px;
}

footer .social-links {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

footer .social-links a {
    text-decoration: none;
    color: white;
}

footer .social-links img {
    width: 30px;
    height: auto;
    transition: transform 0.3s ease;
}

footer .social-links img:hover {
    transform: scale(1.2);
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }
    
    nav#navegacao {
        margin-bottom: 20px;
    }

    #links-navegacao {
        flex-direction: column;
        gap: 10px;
    }

    #redes {
        justify-content: center;
    }

    .profile {
        flex-direction: column; /* Muda para coluna em telas menores */
        align-items: center; /* Centraliza os itens */
    }

    .fotodeperfil-img {
        width: 80%; /* Ajuste para telas menores */
        max-width: 300px;
         /* Limite máximo para a imagem */
    }

    .skills {
        width: 100%; /* Ajusta a largura da seção de habilidades para ocupar toda a tela */
        margin-top: 20px; /* Espaço acima da seção de habilidades */
    }

    .about {
        margin: 20px 0; /* Espaço acima e abaixo da seção "Sobre mim" */
    }

    .about-card {
        padding: 15px; /* Ajusta o padding para telas menores */
    }

    .about-card h2 {
        font-size: 24px; /* Ajusta o tamanho do título */
    }

    .about-card p {
        font-size: 16px; /* Ajusta o tamanho do texto */
    }
}